/*ARMONIZACIÓN ANIMAL*/
    
    
.card-img{
    padding-top: 50px;
    height: 440px;
}

    .armonizacion-titulo h1{
        text-align: center;
        font-family:"Dancing Script", system-ui;
        font-size:xx-large;
        }

    .armonizacion-subtitulo h2{
        text-align: center;
        font-family:"Dancing Script", system-ui;
        font-size:x-large;
        }  

        .armonizacion-parrafo p{
            text-align: justify;
            padding-left: 50px;
            padding-right: 50px
        }

    .armonizacion-lista{
        padding-left: 50px;
        padding-right: 50px;
        text-align: justify;
    }

    .armonizacion-titulolista{
        font-family:"Dancing Script", system-ui;
        font-size:larger;
        font-weight: bolder;   
    }

    
    
    /*Boton FLOTANTE de WHATSAAP*/
    .whatsapp {
        position:fixed;
        width: 45px;
        height:45px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:28px;
        z-index:100;
        text-align: center;
      }
      
      .whatsapp-icon {
        margin-top:13px;
        text-align: center;
      }