    /*MAIN PORTADA*/
    h3{
        margin-top: 50% !important;
    }
    
    
    .img_inicio_portada{
        width: 250px;
        height: 210px;
        margin-bottom: 30px;
    }
    
    .texto_portada{
        text-align: justify;
    }
    
    
    .carousel-inner{
        width: 100%;
        max-height: 350px;
    }
    
    img{
    width:300px; 
    height:500px;
    }
    
    
    /* EDITAR MAIN*/
    
    .titulo-index h1{
        font-family: "Source Serif 4", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    



    
    .subtitulo-index h2{
        font-family: "Source Serif 4", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;


    }
    
    
    .parrafo-index{
        text-align: justify;             
        line-height: 2em; /*INTERLINEADO DE TEXTO*/
    }
    
    
    .img-fluid{
        width: 800;
        height: 300;
        align-items: center;
    }
    
    
    .titulo-terapias h1{
        font-family:"Dancing Script", cursive;
        font-size:x-large;
        font-weight:bolder;
        text-align: center;  
    }